*{
  margin: 0;
  padding: 0;
  font-family:"Poppins", sans-serif; 
}
body{
  background-color: #eaeaea;
}
#root{
  
  width: 100%;
  height: 100vh;
   
   display: flex;
   flex-direction: column;
}
.nav{

  padding: 1rem;
  width: 100%;
  background-color: #FFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
    font-size: 20px;
    color: black;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mini-container{
  padding: 1rem;
  background-color: #FFFF;
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
 
 
}
.shoop-now-button{
    background-color: black;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.second-part{
  display: flex;
    flex-direction: column;
  gap: 1rem;
  
}
.frist-part{
  display: flex;
  flex-direction: column;
    font-size: 30px;
}
.heading-container{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.product-container{
  padding: 15px;
  margin-top: 1rem;
    width: 100%;
     display: flex;
     flex-direction: row;
     gap: 1rem;
     flex-wrap: wrap;
  
}
.product{

  width: 200px;
  background-color: #FFFF;
 padding: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 border-radius: 1rem;
}
.brand-name-container{
  padding: 10px;
  margin-top: 1rem;
  width: 100%;
  background-color: #FFFF; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.single-Product-container{
  margin-top: 1rem;
  width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
}
.img-container{
      width: 300px;
      padding: 1rem;
      background-color: #FFFF;
}
.product-details{
  background-color: #FFFF;
     display: flex;
     /* align-items: center; */
     flex-direction: column;
     gap: 1rem;
     padding: 1rem;
}
.img-choice-container{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.choice{
  background-color: #FFFF;
  border: 1px solid blue;
  padding: 1rem;
}
.cart-container{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.cart{
   background-color: black; 
   color: #FFFF;
  padding: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cart-img{
   display: flex;
}
.hide{
  display: none;
}
.color{
  color: black;
  font-size: 10px;
}
#search-input{
    width: 400px;
    padding: 6px;
    outline: 1px solid blue;
  
     
}
.website-name-container{
  display: flex;
  align-items: center;
}
.chek{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chek-container{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  margin-left: 50px;
}
.chekbox-product{
  display: flex;

}
.plush{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #FFFF;
    color: green;
    cursor: pointer;
}
.nagitive{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
    /* background-color: black; */
    color: green;
    background-color: #FFFF;
    cursor: pointer;
}